body {
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: left;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid gray;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:#e68a00;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .create-account-button {
    display: block;
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: grey;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

.create-account-button:hover {
  background-color:grey;
}
  
  input[type="submit"]:hover {
    background-color: #e68a00;
  }

  .forgot-password {
    display: block;
    text-align: right;
    margin-top: 10px;
    color:blue;
    text-decoration: blue;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }

  
  
  .footer-links {
    margin-top: 20px;
    text-align: center;
  }
  
  .footer-link {
    margin-right: 10px;
    color: blue;
    text-decoration:blue;
  }
  
  .footer-link:last-child {
    margin-right: 0;
  }

  {
    margin: 0;
    padding: 0;
  }
  
 
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  .footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    color: #999;
    font-size: 14px;
    margin-top: auto; 
  }